.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

.main-wrapper {
  position: relative;
  z-index: 0;
}

.section-cage {
  position: relative;
  height: 100vh;
}

.cage-bars-vertical {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.cage-bar {
  width: 2vw;
  height: 100vh;
  border: 2px solid #000;
  background-color: #424242;
  box-shadow: 1px 1px 20px -5px #000;
}

.cage-bars-horizontal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.cage-bar-horizontal {
  width: 100vw;
  height: 2vw;
  border: 2px solid #000;
  background-color: #424242;
  box-shadow: 1px 1px 20px -12px #000;
}

.image {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.title-text {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #3172bf;
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0 #ff66b2;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: none;
  margin-left: auto;
}

.section-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #171c17;
}

.page-padding {
  padding-right: 3%;
  padding-left: 3%;
}

.padding-vertical {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  background-color: transparent;
}

.hamster-bottom-left {
  position: absolute;
  left: -4%;
  top: auto;
  right: auto;
  bottom: -10%;
  -webkit-transform: translate(0px, 0px) rotate(-15deg);
  -ms-transform: translate(0px, 0px) rotate(-15deg);
  transform: translate(0px, 0px) rotate(-15deg);
}

.hamster-top-left {
  position: absolute;
  left: -10%;
  top: -10%;
  right: auto;
  bottom: auto;
  -webkit-transform: rotate(23deg) rotateX(0deg) rotateY(-180deg) rotateZ(-180deg);
  transform: rotate(23deg) rotateX(0deg) rotateY(-180deg) rotateZ(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hamster-top-right {
  position: absolute;
  left: auto;
  top: -10%;
  right: -12%;
  bottom: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hamster-bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: -13%;
  bottom: -15%;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(-29deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(-29deg);
  -webkit-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-team {
  position: relative;
  height: 400vh;
}

.hero-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: block;
  padding: 16px 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #3172bf;
  border-radius: 20px;
  background-color: #ff66b2;
  box-shadow: 4px 4px 0 1px #3172bf;
  -webkit-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  font-family: 'Nanum Pen Script', sans-serif;
  color: #171c17;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: 0 0 0 1px #3172bf;
}

.message-wrapper {
  margin-top: 16px;
}

.message-text-success {
  display: none;
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #97b93e;
  text-align: center;
}

.message-text-error {
  display: none;
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #f40301;
  text-align: center;
}

.text-block-2 {
  margin-bottom: 16px;
  font-family: 'Nanum Pen Script', sans-serif;
  color: #fff;
  font-size: 42px;
  line-height: 1;
  text-align: center;
}

.hero-hamster {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  max-height: 40vh;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-hamster.four {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.hero-hamster.two {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.hero-hamster.one {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.image-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.image-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.stars-lottie {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 20%;
}

.div-block {
  position: relative;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btyb-hamster {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  max-height: 40vh;
  -o-object-fit: contain;
  object-fit: contain;
}

.btyb-hamster.four {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.btyb-hamster.two {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.btyb-hamster.one {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.scroll-track {
  position: relative;
  height: 300vh;
}

.sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  overflow: hidden;
  height: 100vh;
  background-color: #3172bf;
}

.grid {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-3 {
  color: #fff9dd;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-4 {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #fbd51f;
  font-size: 70px;
  line-height: 1;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Nanum Pen Script', sans-serif;
  color: #fbd51f;
  font-size: 70px;
  line-height: 1;
}

.team-member-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.image-6 {
  width: 6rem;
  min-width: 6rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.right-side-wrapper {
  position: relative;
  overflow: hidden;
}

.timeline_definition-wrapper {
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.05);
}

.overlay-fade-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#171c17), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(0deg, #171c17, rgba(10, 10, 10, 0));
}

.timeline_milestone-badge {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #161616;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_quote-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.overlay-fade-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171c17), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(180deg, #171c17, rgba(10, 10, 10, 0));
}

.timeline_image-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.text-colour-lightgrey {
  color: hsla(0, 0%, 100%, 0.65);
}

.timeline_item {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 180px 1fr;
  grid-template-columns: 1fr 180px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.timeline_quote {
  margin-bottom: 16px;
  color: #fff;
  font-size: 14px;
}

.timeline_badge {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline_link:hover {
  opacity: 1;
}

.timeline_quote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 16px;
}

.container-2 {
  width: 90vw;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.timeline_quote-text-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-timeline {
  position: relative;
  z-index: -3;
  background-color: #171c17;
}

.timeline_progress {
  position: absolute;
  z-index: -2;
  width: 3px;
  height: 100%;
  background-color: #414141;
}

.timeline_centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-colour-white {
  color: #fff;
}

.timeline_progress-bar {
  position: fixed;
  left: auto;
  top: 0px;
  right: auto;
  bottom: 50vh;
  z-index: -1;
  width: 3px;
  height: 50vh;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3172bf), to(#ff66b2));
  background-image: linear-gradient(180deg, #3172bf, #ff66b2);
}

.timeline_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline_circle {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.timeline_quote-image {
  width: 48px;
  height: 48px;
  margin-right: 24px;
  border-radius: 8px;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.timeline_date-text {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  font-family: 'Nanum Pen Script', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.timeline_left {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.timeline_text {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 1.3;
  font-weight: 700;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.faq_answer {
  overflow: hidden;
  max-width: 40rem;
}

.text-style-muted {
  opacity: 0.6;
}

.text-style-muted.text-size-medium {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
}

.faq_item {
  margin-top: 1rem;
  padding: 2.5rem;
  border-radius: 10px;
  background-color: #fff8d4;
  cursor: pointer;
}

.padding-vertical-2 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical-2.padding-xlarge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container-small {
  width: 100%;
  max-width: 56rem;
  margin-right: auto;
  margin-left: auto;
}

.heading-xxsmall {
  color: #3172bf;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.faq_answer-wrapper {
  padding-top: 1rem;
}

.faq_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: #3172bf;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.faq_icon:hover {
  background-color: #630094;
}

.faq_question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Nanum Pen Script', sans-serif;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.page-padding-2 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.section-faq {
  background-color: #fbd51f;
}

.faq_icon-line {
  position: absolute;
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
}

.faq_icon-line.is-vertical {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.text-align-center {
  margin-top: 0px;
  margin-bottom: 2rem;
  font-family: 'Nanum Pen Script', sans-serif;
  color: #171c17;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.footer-bottom_logo {
  height: 1.5rem;
}

.footer-bottom_content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 2.5fr 1fr;
  grid-template-columns: 1fr 2.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-bottom_link {
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.footer-bottom_link:hover {
  color: #ff6433;
}

.footer-bottom_component {
  background-color: #1e1b1b;
  color: #fff;
}

.footer-bottom_logo-link {
  text-decoration: none;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.footer-text {
  font-family: 'Nanum Pen Script', sans-serif;
  color: #3172bf;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0 #ff66b2;
}

.footer_social-link {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #fff;
}

.footer_social-link:hover {
  color: #ff6433;
}

.social-icon {
  width: 3rem;
  height: 3rem;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.social-icon:hover {
  color: #3172bf;
}

.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bold-text {
  color: #fff;
}

.timeline-heading {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.padding-heading {
  position: relative;
  z-index: 10;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.section-roadmap-header {
  background-color: #171c17;
}

.footer-padding-vertical {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.div-block-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  width: 4rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#3172bf), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(270deg, #3172bf, hsla(0, 0%, 100%, 0));
}

.social-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  position: relative;
  z-index: 1;
  color: #fff;
}

.image-7 {
  width: 5rem;
  height: 5rem;
}

.html-embed {
  width: 3rem;
  height: 3rem;
  color: #fff;
}

.margin-vertical {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mint-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  width: 8rem;
  padding: 12px 24px;
  border-style: solid;
  border-width: 3px;
  border-color: #3172bf;
  border-radius: 10px;
  background-color: #171c17;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}

.num-to-mint-label {
  color: #fff;
  font-weight: 600;
}

.mint-form-block {
  display: block;
}

.success-message {
  border-radius: 10px;
  background-color: #97b93e;
  font-weight: 700;
}

.text-block-6 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.error-message {
  border-radius: 10px;
  background-color: #f40201;
  opacity: 0.6;
}

.bold-text-3 {
  color: #3172bf;
}

@media screen and (max-width: 991px) {
  .hero-hamster {
    max-height: 30vh;
    max-width: 100%;
    margin-right: -40px;
    margin-left: -40px;
  }

  .btyb-hamster {
    max-height: 30vh;
    max-width: 100%;
    margin-right: -40px;
    margin-left: -40px;
  }

  .grid {
    grid-column-gap: 1rem;
  }

  .text-block-4 {
    font-size: 50px;
  }

  .heading {
    font-size: 50px;
  }

  .padding-vertical-2 {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .footer-bottom_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-bottom_links-list {
    margin-left: -1rem;
  }

  .social-wrapper {
    z-index: 99;
  }
}

@media screen and (max-width: 767px) {
  .title-text {
    font-size: 70px;
  }

  .padding-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-wrapper {
    max-width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .button {
    font-size: 40px;
  }

  .text-block-2 {
    font-size: 30px;
  }

  .hero-hamster {
    max-height: 50vh;
    margin-right: -100px;
    margin-left: -100px;
  }

  .hero-hamster.two {
    display: none;
  }

  .hero-hamster.one {
    display: none;
  }

  .btyb-hamster {
    max-height: 50vh;
    margin-right: -100px;
    margin-left: -100px;
  }

  .btyb-hamster.two {
    display: none;
  }

  .btyb-hamster.one {
    display: none;
  }

  .grid {
    grid-row-gap: 0.75rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .text-block-3 {
    font-size: 10px;
  }

  .text-block-4 {
    font-size: 40px;
  }

  .team-member-wrapper {
    width: 45%;
    max-width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .image-6 {
    width: 4rem;
    min-width: 4rem;
  }

  .right-side-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .timeline_item {
    width: 100%;
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr;
  }

  .timeline_quote-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline_centre {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_left {
    text-align: left;
  }

  .timeline_text {
    font-size: 80px;
    line-height: 1;
  }

  .padding-vertical-2 {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .heading-xxsmall {
    font-size: 1.75rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .page-padding-2 {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .footer-bottom_link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .footer-text {
    font-size: 40px;
  }

  .timeline-heading {
    margin-bottom: 0px;
  }

  .padding-heading {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .title-text {
    font-size: 40px;
  }

  .padding-vertical {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button {
    font-size: 32px;
  }

  .text-block-2 {
    font-size: 20px;
  }

  .hero-hamster {
    max-height: 30vh;
    margin-right: -40px;
    margin-left: -40px;
  }

  .hero-hamster.one {
    display: block;
  }

  .hero-hamster.three {
    display: none;
  }

  .btyb-hamster {
    max-height: 30vh;
    margin-right: -40px;
    margin-left: -40px;
  }

  .btyb-hamster.one {
    display: block;
  }

  .btyb-hamster.three {
    display: none;
  }

  .sticky-block {
    height: 100vh;
  }

  .grid {
    grid-row-gap: 2rem;
  }

  .text-block-3 {
    font-size: 10px;
  }

  .text-block-4 {
    font-size: 50px;
  }

  .heading {
    font-size: 40px;
  }

  .team-member-wrapper {
    width: auto;
    max-width: none;
  }

  .image-6 {
    width: 6rem;
    min-width: 6rem;
  }

  .right-side-wrapper {
    display: block;
  }

  .timeline_item {
    -ms-grid-columns: 48px 1fr;
    grid-template-columns: 48px 1fr;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .faq_item {
    padding: 2rem;
  }

  .padding-vertical-2 {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .faq_icon {
    margin-left: 1.5rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .footer-text {
    font-size: 30px;
  }

  .social-icon {
    width: 2rem;
    height: 2rem;
  }

  .padding-heading {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .social-wrapper {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 12px;
  }

  .image-7 {
    width: 3rem;
    height: 3rem;
  }

  .margin-vertical {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af63-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af66-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af68-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af6f-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af72-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af82-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af85-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af9c-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731af9f-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731afb8-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0de2d93e-c533-c4b8-16a9-6d11f731afbb-f9e7bc57 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

